<!--the <p> tags are used to see where the elements land on the page and should be removed when ready-->
<p>Before add-tags-search-bar</p>
<div class="tags-container">
  <p>add-tags-search-bar.component.html</p>
  <div class="add-tag-search-bar">
    <app-add-tags-search-bar></app-add-tags-search-bar>
  </div>
  <p>add-tags-added-tags.component.html</p>
  <div class="tags-added">
    <div class="tags-for-project">
      <app-add-tags-added-tags></app-add-tags-added-tags>
    </div>
  </div>
  <div class="tags">
    <app-tags></app-tags>
  </div>
</div>
<p>After all components in add-tags.component.html</p>
