    <form class="search-tag-input">
      <mat-form-field>
         <!-- <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field> -->
        <mat-label>
          Filter Tags
        </mat-label>
        <input
        type="text"
        placeholder="Choose a tag to add"
        aria-label="Tag"
        matInput
        [formControl]='myControl'
        [matAutocomplete]="auto"
        > <!-- for searching the list of tags (doesn't work right now) -->
        <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="onTagSelected($event.option)">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

