<!--**************************
    Add Custom Tags Modal
****************************-->
<hr>
<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Create Tag Here</h4>
  </div>
  <div class="modal-body" style="overflow-y: visible; position: static">
    <form id="create-new-tag-form">
      <div class="form-group">
        <label for="tag-name-box">Tag Name:</label>
        <input type="text" class="form-control" id="tag-name-box" name="Name" [(ngModel)]="tag1.name" />
      </div>

      <div class="form-group">
        <label for="tag-description-box">Tag Description:</label>
        <textarea class="form-control" id="tag-description-box" name="Description" [(ngModel)]="tag1.description"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-orange" (click)="registerTagFromService()">
      Add
    </button>
    <button type="button" class="btn btn-orange" (click)="d('Cross click')">
      Exit
    </button>
  </div>

  <div id="anime" *ngIf="message.length > 0">
    {{ message }}
  </div>
</ng-template>

<button class="btn btn-orange" (click)="open(content1)">Create New Tag</button>

