<p>test-services works!</p>
<input type="number" [(ngModel)]="id" >
<h3>Iteration Services</h3>
<div class="row">
    <button class="btn btn-primary m-2" (click) = "getIteration($event)"> get all </button>
    <button class="btn btn-primary m-2" (click) = "getIterationById($event)"> get by id </button>
    <button class="btn btn-primary m-2" (click) = "createIteration($event)"> create a mock Iteration</button>
    <button class="btn btn-primary m-2" (click) = "updateIteration($event)"> update Iteration into mock Iteration</button>
    <button class="btn btn-primary m-2" (click) = "deleteIteration($event)"> delete Iteration</button>
</div>
<h3>Phase Services</h3>
<div class="row">
    <button class="btn btn-secondary m-2" (click) = "getAllPhases($event)"> get all </button>
    <button class="btn btn-secondary m-2" (click) = "getPhaseById($event)"> get by id </button>
</div>
<h3>Tag Services</h3>
<div class="row">
    <button class="btn btn-success m-2" (click) = "getAllTags($event)"> get all </button>
    <button class="btn btn-success m-2" (click) = "getTagById($event)"> get by id </button>
    <button class="btn btn-success m-2" (click) = "createIteration($event)"> create a mock Tag</button>
</div>