<p>test-services works!</p>
<input type="number" [(ngModel)]="id" >
<h3>Iteration Services</h3>
<div class="row">
    <button class="btn btn-primary m-2" (click) = "getIteration($event)"> get all </button>
    <button class="btn btn-primary m-2" (click) = "getIterationById($event)"> get by id </button>
    <!-- <button class="btn btn-primary" (click) = ""> create </button>
    <button class="btn btn-primary" (click) = ""> update </button>
    <button class="btn btn-primary" (click) = ""> delete </button> -->
</div>