<div class="outside">
  <div class="card mt-3 d-block">
    <div class="box">
      <h1 id="anime" class="welcome text-center mb-4">Project {{ project?.name | titlecase}}</h1>

      <div *ngIf="project" class="mb-3">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="projectId">Project ID</label>
            <div class="form-control" id="projectId">
              {{ project.id }}
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="projectName">Project Name</label>
            <div class="form-control" id="projectName">
              {{ project.name }}
            </div>
          </div>
        </div>


        <div class="form-row">

          <!--Added options in the drop down for status Available and status Planned -->
          <div class="form-group col-md-6">
            <label for="status">Status</label>
            <select [(ngModel)]="this.project.status.name" class="form-control" id="status" required>

              <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
              <option value="available">Available</option>
              <option value="planned">Planned</option>


            </select>
          </div>



          <div class="form-group col-md-6">
            <label for="phase">Phase</label>
            <!-- This should definitely not be commented but it wouldn't compile so -->
             <select [(ngModel)]="this.project.iterations[4]" class="form-control" id="phase" required>
              <option *ngFor="let phase of phases" [value]="phase">{{phase}}</option>
             </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="description">Description</label>
            <textarea class="form-control tag-desc" id="description" rows="3"
              readonly="true">{{ project.description }}</textarea>
            <!--feels like one should be able to edit this but no-->
          </div>
          <!--showing what tags are attached to the current project-->
          <div id="tags-for-current-project" class="form-group col-md-6">
            <mat-chip-list id="TCP1" class="tags-of-current-project">
              <label for="TCP1">Tags for {{project.name}}:</label>
              <mat-chip style="background-color: rgb(242, 105, 38); color: #fff;"
                      *ngFor="let tag of project.tags">
                {{tag.name}}
              </mat-chip>
            </mat-chip-list>
            <!--TODO change color of tags that isEnabled: false-->
          </div>
          <div class="form-group col-md-6">
            <app-add-tags></app-add-tags>
          </div>
        </div>

        <button type="button" class="btn btn-orange" id="submit" (click)="submit()">
          Submit
        </button>
        <button type="button" class="btn btn-orange" id="goBack" (click)="goBack()">
          Go Back
        </button>
      </div>

    </div>
  </div>

</div>
